#GENERAL ENVs.
PORT=''
JWT_SECRET=''

#EMAIL.JS ENVs.
SERVICE_EMAIL_ID=''
TEMPLATE_EMAIL_ID=''
PUBLIC_EMAIL_KEY=''
TEMPLATE_WALLET_ID=''
PRIVATE_EMAIL_KEY=''
API_SEND_EMAIL=''

#RABBITMQ ENVs.
EXCHANGE=''
PAYMENT_QUEUE=''
RABBITMQ=''
INSERT_VALUE_TO_WALLET=''

#PRISMA ENVs.
DATABASE_URL=''

#STRIP ENVs.
STRIPE_SECRET_KEY=''

#PUBLIC URL
PUBLIC_NETWORK='https://paymentrabbitmq-node-development.up.railway.app/'